body {
    padding-right: 0!important;
}

.disable-select {
    user-select: none;
}

header {
    display: flex;
    background-color: black;
    color: grey;
    font-size: 14px;
    padding: 16px 0px;
}

header .contact_detail {
    display: flex;
    align-self: center;
    width: 100%;
    z-index: 1;
}

header .contact_detail ul.phone_mail {
    display: flex;
    list-style-type: none;
    padding-bottom: 0;
    width: auto;
    margin: 0;
}

header .contact_detail .phone_mail .phone,
.mail {
    padding-right: 20px;
}

header .search {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-right: 80px;
    z-index: 1;
}

.search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4a101;
    width: 50px;
    border-radius: 0px 30px 30px 0px;
    color: white;
    font-size: 16px;
    border: none;
}

header .search input[type=search] {
    border: none;
    border-radius: 30px 0px 0px 30px;
    width: auto;
    padding: 7px 20px;
}

header .search input[type=search]:focus,
.search input[type=search]:active {
    outline: none;
    border: none;
}

.navbar {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

nav .navbar-toggler {
    font-size: 18px;
    margin: 0px 20px;
    display: flex;
    padding: 0;
}

button.nav_3bar {
    display: flex;
    align-self: center;
    margin: auto;
    margin-right: 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
}

.nav_3bar:focus {
    outline: none;
}

nav .navbar-toggler:focus {
    outline: none;
}

.navbar .collapse .navbar-nav .nav-link:hover,
.nav-link:focus {
    color: black;
}

.navbar-nav {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.user_profile {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}

.user,
.user:hover,
.user:focus {
    color: black;
    text-decoration: none;
    outline: none;
    display: flex;
    direction: initial;
}

.welcome-back {
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
}

#profile_icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user_icon {
    display: flex;
    align-items: center;
}

#collapse_bar {
    direction: ltr;
}

#collapse_bar.show.in {
    height: 323px;
}

.dropdown-menu.profile_menu {
    left: -113px;
}

.logout {
    color: red;
    text-align: center;
    direction: ltr;
}

.logout:hover {
    color: red;
    text-decoration: none;
}

.nav-item {
    margin: 30px 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.dropdown-menu {
    top: 65px;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    line-height: 1.8;
}

.dropdown-item {
    direction: ltr;
    position: relative;
}

.badge {
    position: absolute;
}

.nav-item.logo {
    margin: 0px 20px;
    width: 18%;
    align-self: center;
}

.nav-link.logo {
    padding: 0px;
}

.nav-link.logo>img {
    width: 100%;
    transform: scale(1);
}

.nav-link {
    color: black;
    padding: 0!important;
}

.nav-link:focus,
.nav-link.active,
.nav-link.active:hover {
    color: #55acee;
}

.nav-link0.logo0>img {
    width: 100%;
}

.carousel-inner>.carousel-item>a>img {
    width: 100%;
}

@keyframes down_up {
    from {
        transform: skewX(170deg) translateX(-400px);
    }
    to {
        transform: skewX(170deg) translateX(0px);
    }
}

#mycarousel .carousel-item {
    transition: all 1s;
    animation: fade_in 1s;
}

#mycarousel .carousel-item.active {
    opacity: 1;
    transition: all 1s;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

span.glyphicon.glyphicon-chevron-left {
    transition: all 1.5s;
    animation: right_left 1.5s;
    animation-iteration-count: infinite;
}

span.glyphicon.glyphicon-chevron-right {
    transition: all 1.5s;
    animation: left_right 1.5s;
    animation-iteration-count: infinite;
}

@keyframes right_left {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes left_right {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#myModal1,
#myModal2,
#myModal3,
#myModal4,
#myModal5 {
    opacity: 1;
    background-color: #00000078;
    padding: 0;
}

.modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.modal-header {
    border: none;
}

.modal1_button,
.modal2_button,
.modal3_button,
.modal4_button,
.modal5_button,
.modal6_button {
    color: white;
    font-size: 26px;
    font-weight: 900;
    padding: 0;
    margin: auto;
    margin-right: 0;
    background-color: black;
    padding: 0px 15px;
    outline: none;
}

.modal-body {
    background-color: transparent;
    padding: 0;
}

.modal1_video,
.modal2_video,
.modal3_video,
.modal4_video,
.modal5_video {
    width: 100%;
    outline: none;
}

.modal-dialog {
    top: 0;
    margin: auto;
    width: 100%;
}

.gallery_img1,
.gallery_img2 {
    width: 100%;
}

.released-background {
    background-color: #d3d3d345;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

#released-content {
    text-align: center;
    margin: auto;
    max-width: 50%;
}

#released-head {
    text-transform: uppercase;
    font-weight: 600;
}

#content-diff-color {
    color: #e4a101;
}

#released-para {
    font-size: 16px;
}

span.released-rod {
    display: flex;
    justify-content: center;
    padding: 20px;
}

i.fas.fa-star {
    color: #e4a101;
}

#released-games {
    padding-top: 50px;
}

#released-games .carousel-indicators li,
.li.change-name0.active {
    margin: 0px 3px;
}

#view-game {
    width: 100%;
    display: flex;
    position: relative;
    align-self: center;
    height: 100%;
    box-shadow: 0px 0px 15px 0px lightgrey;
    background-color: white;
    z-index: 1;
}

#view-game::before {
    content: '';
    background: url(../images/released_slide_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0.1;
    z-index: -2;
}

#released-game-details {
    display: flex;
    justify-content: center;
    align-self: center;
}

#released-game-img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    overflow: hidden;
}

#released-img {
    width: 100%;
}

#released-contents {
    list-style-type: none;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0px;
    margin: 0;
    line-height: 2;
    color: black;
}

#game-name {
    font-size: 20px;
    position: relative;
    padding: 25px 0px 30px;
    font-weight: 800;
    color: white;
}

#game-name::selection,
#game-color-white0::selection,
#game-color-black0::selection {
    color: unset;
}

#game-color-white0 {
    color: white;
}

#game-name::before {
    content: '';
    position: absolute;
    background: url(../images/released_game_brush.png);
    background-repeat: no-repeat;
    height: 50px;
    left: -150px;
    z-index: -1;
    right: 0;
}

#game-refferance {
    display: block;
}

#refferance1 {
    padding: 0px 0px 12px;
}

#refferance2 {
    padding: 0px 0px 12px;
}

#refferance3 {
    padding: 0px 0px 12px;
}

#refferance-img0 {
    height: 150px;
}

#refferance-img1 {
    height: 150px;
}

#refferance-img2 {
    height: 150px;
}

#game-color-black1 {
    color: black;
    font-weight: 700;
}

#game-color-black0 {
    color: black;
}

#game-buy {
    padding-top: 30px;
}

#game-buy-link {
    color: black;
    padding: 15px 26px;
    position: relative;
    transition: all 0.8s;
    font-weight: 600;
    text-decoration: none;
}

#game-buy-link:hover {
    text-decoration: none;
}

#game-buy-link::before {
    content: '';
    background-color: #e4a101;
    width: 100%;
    height: 100%;
    padding: 24px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: skewX(-16deg);
}

#game-buy-link::after {
    content: '';
    background-color: #e4a101;
    padding: 24px 2px;
    position: absolute;
    top: 0;
    left: 125px;
    width: 4%;
    z-index: -1;
    height: 100%;
    transform: skewX( -16deg);
    transition: all 0.5s;
}

#game-buy-link:hover::after {
    content: '';
    background-color: #e4a101;
    padding: 24px 2px;
    position: absolute;
    top: 0;
    left: 100px;
    transform: skewX( -16deg);
    transition: all 0.8s;
}

.background_for_gamers {
    background: url(../images/just_gamer_bg.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamers-view {
    display: flex;
    position: relative;
    padding: 50px 0px;
}

.gamers-view::after {
    content: ' ';
    background: url(../images/gamers_bg_conve02.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    height: 132px;
    width: 370px;
    left: 0;
    margin: auto;
    right: 0;
}

.gamers-view::before {
    content: ' ';
    background: url(../images/gamers_bg_conve01.png);
    height: 130px;
    width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 600px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
}

.gamers_details {
    color: lightgrey;
    padding: 30px 0px;
}

.gamers_header {
    font-size: 16px;
    text-transform: capitalize;
}

.gamers_header>h2 {
    font-weight: 800;
    text-transform: uppercase;
}

.gamers_orange_color {
    color: orange;
}

.gamers_content {
    padding: 10px;
}

.gamers_discount_img>img {
    width: 100%;
}

.gamers_discount_details {
    text-align: center;
    font-size: 18px;
}

.gamers_discount_details {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.discount_button {
    position: relative;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: black;
    z-index: 1;
}

.discount_button:hover {
    text-decoration: none;
    color: black;
}

.discount_button:focus {
    text-decoration: none;
    color: black;
}

.discount_button::before {
    content: '';
    background-color: #e4a101;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: skewX(-16deg);
    transition: all 0.5s;
}

.discount_button::after {
    content: '';
    background-color: #e4a101;
    position: absolute;
    top: 0;
    left: 125px;
    width: 4%;
    z-index: -1;
    height: 100%;
    transform: skewX(-16deg);
    transition: all 0.5s;
}

.discount_button:hover::after {
    content: '';
    left: 100px;
    transition: all 0.5s;
}

.discount_detail {
    color: orange;
    margin-bottom: 20px;
}

.design_work {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.gamer_character {
    height: 100%;
}

.wheel_rotator {
    position: absolute;
    display: flex;
    bottom: 190px;
    left: 280px;
    z-index: -1;
}

.wheel_rotator_img0 {
    position: relative;
}

.wheel_rotator_img1 {
    bottom: -67px;
    position: absolute;
    left: 120px;
    right: 0;
    animation: rotation 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.three_contents {
    list-style-type: none;
}

.three_contents>.content {
    display: flex;
}

.choose_games {
    display: flex;
    padding: 100px 0px;
    overflow: hidden;
}

.fixed_background_img {
    background: url(../images/fixed_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 5px;
}

.about_choose {
    text-transform: capitalize;
    color: black;
    padding: 0;
    text-align: center;
    padding-right: 50px;
    font-weight: 600;
    margin: auto;
}

.choose_heading_orange {
    color: #e4a101;
}

.choose_heading {
    font-weight: 600;
    margin-bottom: 40px;
}

.choose_para {
    font-size: 18px;
    line-height: 2;
    color: black;
    font-weight: 300;
}

.choose_para_bold {
    font-weight: 700;
}

.choose_img {
    box-shadow: 0px 0px 20px white;
    padding: 0;
}

@keyframes choose_games {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    50% {
        transform: scale(0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.choose_img>img {
    width: 100%;
}

.platforms {
    display: flex;
    border: 4px solid white;
    border-left: none;
    border-right: none;
    flex-wrap: wrap;
}

.platform_img_1,
.platform_img_2,
.platform_img_3,
.platform_img_4 {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.platform1,
.platform2,
.platform3,
.platform4 {
    width: 100%;
}

.hidden_platform_detail_1,
.hidden_platform_detail_2,
.hidden_platform_detail_3,
.hidden_platform_detail_4 {
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: rotateZ(360deg);
    transition: all 0.8s;
    background-color: rgba(0, 0, 0, 0.3);
    transition-delay: 0.8s;
    color: white;
}

.hidden_head_1,
.hidden_head_2,
.hidden_head_3,
.hidden_head_4 {
    right: -100%;
    width: 100%;
    transition: all 0.8s;
    transition-delay: 1s;
    position: absolute;
    bottom: 65%;
}

.platform_hid_image_1,
.platform_hid_image_2,
.platform_hid_image_3,
.platform_hid_image_4 {
    transition: all 0.8s;
    position: absolute;
    width: 100%;
    top: 0;
    right: -100%;
    bottom: 0;
    top: 35%;
}

.platform_hid_image_1>img {
    width: 35%;
}

.connect {
    padding: 100px 0px 150px;
    text-align: center;
    position: relative;
}

.connect_head {
    margin-bottom: 20px;
    z-index: 1;
}

.connect_head>h2 {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
}

.connect_platform {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.connect_discord,
.connect_youtube,
.connect_steam-square,
.connect_xbox {
    margin-top: 50px;
    width: 130px;
}

.connect_xbox {
    width: 130px;
    padding-top: 0px;
}

.connect_discord_platform,
.connect_youtube_platform,
.connect_steam-square_platform,
.connect_xbox_platform {
    background: linear-gradient(45deg, #a455c9, #15c8db);
    transform: skewX(-6deg);
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.connect_discord_icon,
.connect_youtube_icon,
.connect_steam-square_icon,
.connect_xbox_icon {
    color: white;
    font-size: 58px;
    text-decoration: none;
}

.connect_discord_icon:hover,
.connect_youtube_icon:hover,
.connect_steam-square_icon:hover,
.connect_xbox_icon:hover {
    color: white;
    text-decoration: none;
}

.connect_discord_icon:focus,
.connect_youtube_icon:focus,
.connect_steam-square_icon:focus,
.connect_xbox_icon:focus {
    color: white;
    text-decoration: none;
}

#discord_icon,
#youtube_icon,
#steam_icon,
#xbox_icon {
    transform: skewX(6deg);
}

.connect_discord_para,
.connect_youtube_para,
.connect_steam-square_para,
.connect_xbox_para {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: #337ab7;
}

.connect_para:hover {
    color: #337ab7;
    text-decoration: none;
}

.collection {
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.collection>.owl-carousel {
    max-height: 470px;
    overflow: hidden;
}

.games_collection {
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 100px 0px 50px;
    text-shadow: 0 0 8px black;
}

.carousel-indicate {
    padding-bottom: 50px;
}

.collection .owl_indicator.nav-item {
    margin-top: 30px;
    font-size: 24px;
}

.owl_indicators {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    text-transform: uppercase;
    flex-wrap: unset;
    margin: 0;
    color: white;
}

.owl_indicator {
    width: 100%;
    margin: 0;
}

.text_indicator {
    border-bottom: 3px solid white;
}

.text_indicator {
    color: white!important;
    font-weight: 600;
    letter-spacing: 2px;
}

.owl-carousel .item {
    border: 2px solid white;
    color: white;
    text-align: center;
    text-transform: capitalize;
    height: 100%;
}

.owl-carousel .item>img {
    width: 100%;
    height: 200px;
}

.item_details {
    height: 100%;
    padding: 20px 0px;
}

.game_img_para {
    line-height: 3;
    color: white;
    font-weight: 600;
}

.game_img_para .game_img_name {
    font-size: 24px;
}

.game_img_para .game_downloads {
    font-size: 18px;
}

.game_rating {
    font-size: 16px;
    color: #e4a101;
}

.game_rating #unchecked {
    color: lightgrey;
}

.download {
    background-color: #e4a101;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-weight: 600;
}

.download:focus {
    outline: none;
}

.item_details .download>a {
    color: white;
}

.item_details .download>a:hover {
    color: white;
    text-decoration: none;
}

.owl-theme .owl-nav,
.owl-dots {
    display: none;
}

.text_indicator.nav-link.active {
    color: #2CC185!important;
    border-bottom: 3px solid #2CC185;
}

.owl_indicator>.text_indicator:hover,
.owl_indicator>.text_indicator:focus {
    background-color: transparent;
    border-bottom: 3px solid #2CC185;
    color: #2CC185;
}

.normal_background {
    background-color: #464646;
}

.game_gallery {
    font-size: 32px;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    padding: 50px;
    background: url(../images/tabs-bg.jpg);
    background-attachment: fixed;
}

.games_gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery_img {
    width: 25%;
    overflow: hidden;
    position: relative;
}

.gallery_img_1,
.gallery_img_2,
.gallery_img_3,
.gallery_img_4,
.gallery_img_5,
.gallery_img_6,
.gallery_img_7,
.gallery_img_8,
.gallery_img_9,
.gallery_img_10,
.gallery_img_11,
.gallery_img_12 {
    transform: scale(1.1);
    filter: unset;
    width: 100%;
}

.gallery_img:hover::after {
    transform: rotate(45deg) translateY(140%) scale(1.1);
    transition: all 0.5s;
}

.gallery_img::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: rotate(45deg) translateY(-140%) scale(1.1);
    transition: all 0.5s;
}

.gallery_img>img {
    width: 100%;
}

.statistics {
    background: url(../images/stats.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
}

.statistics_details {
    display: flex;
    text-align: center;
    padding: 150px 0px;
    flex-wrap: wrap;
}

.stat_games,
.stat_download,
.stat_follower,
.stat_online {
    margin: auto;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.stat_games>img,
.stat_download>img,
.stat_follower>img,
.stat_online>img {
    width: 40%;
}

.stat_para {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 30px;
    margin-bottom: 0;
}

.stat_text {
    font-size: 22px;
    font-weight: 100;
}

.partner_section {
    overflow: hidden;
    max-height: 305px;
}

.partner_section .partner #owl-partner .item>img {
    width: 100%;
    height: unset;
}

#owl-partner .item {
    border: 1px solid white;
}

.owl-carousel .owl-item {
    margin-right: 0!important;
    width: 305px !important;
}

.partner_section .partner .owl-stage>.owl-item {
    margin-right: 0!important;
    width: 305.45px !important;
}



@media only screen and (max-width: 768px)
/* smaller than 768px*/

{
    header {
        display: block;
    }
    header .contact_detail {
        justify-content: center;
        padding: 10px 0px;
    }
    header .search {
        justify-content: center;
        margin: 0;
        padding-top: 10px;
    }
    .nav-item0 {
        list-style-type: none;
        font-weight: 600;
        margin-right: auto;
        width: 30%;
        margin-right: auto;
        margin-left: 20px;
    }
    .nav-link0.logo0 {
        font-size: 28px;
        margin: 0;
        color: black;
        font-weight: 600;
    }
    .navbar-nav0 {
        margin: 0;
        padding: 0;
    }
    .navbar {
        direction: ltr;
    }
    .navbar-nav0 {
        margin: auto;
        margin-left: 0;
    }
    .navbar-nav0:hover {
        text-decoration: none;
    }
    .nav_3bar {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        background-color: white!important;
    }
    .navbar-nav {
        margin-top: 20px;
        text-align: center;
        background-color: lightgrey;
    }
    .nav-item {
        margin: 15px auto;
        font-weight: 600;
        display: block;
        width: 100%;
    }
    .dropdown-menu {
        text-align: center;
        line-height: 2;
        background-color: white;
    }
    .nav-item.logo {
        font-size: unset;
        border: unset;
        margin: 0px;
        display: none;
    }
    .nav-link {
        color: black;
    }
    #collapse_bar {
        padding: 0;
    }
    #refferance-img1 {
        display: none;
    }
    #game-refferance {
        display: flex;
    }
    #view-game {
        display: block;
        overflow: hidden;
    }
    #released-game-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .gamers_details {
        text-align: center;
        margin: auto;
    }
    .platforms {
        flex-wrap: wrap;
    }
    .platform_img_1,
    .platform_img_2,
    .platform_img_3,
    .platform_img_4 {
        width: 50%;
    }
    .connect_discord,
    .connect_youtube,
    .connect_steam-square,
    .connect_xbox {
        margin: 0px 20px;
        margin-top: 50px;
    }
    .collection .owl_indicator.nav-item {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 768px)
/*greater than 768px*/

{
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0;
    }
    li.nav-item.logo {
        display: block;
    }
    li.nav-item0 {
        display: none;
    }
    #refferance-img1 {
        display: none;
    }
    #game-refferance {
        display: flex;
    }
    #view-game {
        width: 100%;
        display: flex;
        position: relative;
        align-self: center;
        height: 100%;
        box-shadow: 0px 0px 15px 0px lightgrey;
        background-color: white;
        z-index: 1;
        overflow: hidden;
    }
    #released-game-img {
        width: 90%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media only screen and (max-width: 1024px)
/*smaller than 1024px*/

{
    .gamers_details {
        width: 50%!important;
        text-align: center;
        margin: auto;
    }
    .design_work {
        display: none;
    }
    .gamers-view::before {
        content: ' ';
        background: none;
        height: unset;
        width: unset;
        background-repeat: no-repeat;
        background-size: cover;
        left: unset;
        position: unset;
        top: 0;
        left: 0;
        margin: unset;
        right: 0;
    }
    .gamers-view::after {
        content: ' ';
        background: none;
        height: unset;
        width: unset;
        background-repeat: no-repeat;
        background-size: cover;
        left: unset;
        position: unset;
        top: 0;
        left: 0;
        margin: unset;
        right: 0;
    }
}

@media only screen and (min-width: 1024px)
/*greater than 1024px*/

{
    .design_work {
        display: flex;
        text-align: center;
    }
}

@media only screen and (min-width: 992px)
/* greater than 992px */

{
    #view-game {
        width: 100%;
        display: flex;
        position: relative;
        align-self: center;
        height: 100%;
        box-shadow: 0px 0px 15px 0px lightgrey;
        background-color: white;
        z-index: 1;
        overflow: hidden;
    }
    div#released-game-details {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media only screen and (max-width: 992px)
/* smaller than 992px */

{
    div#released-game-details {
        padding: 50px 20px;
    }
    .choose_games {
        display: block;
    }
    .about_choose {
        padding-bottom: 50px;
        text-align: center;
        padding-right: 0;
    }
    .gallery_img {
        width: 33.33%;
    }
    .owl_indicators {
        flex-wrap: wrap;
        text-align: center;
        padding: 0px 100px;
    }
    .text_indicator.nav-link {
        color: white;
    }
    .nav-item.logo {
        margin: 0px 30px;
    }
    .nav-link.logo>img {
        width: 100%;
        transform: scale(1.3);
    }
    .nav-item {
        font-size: 1.5vw;
    }
    .stat_games,
    .stat_download,
    .stat_follower,
    .stat_online {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1200px)
/* greater than 1200px */

{
    #game-refferance {
        display: block;
    }
    #refferance-img1 {
        display: block;
    }
    #released-content {
        max-width: 50%;
    }
    img.gamer_chart {
        display: block;
    }
    .gamers_details {
        width: 100%;
    }
    .gamers-view::before {
        content: ' ';
        left: 0;
    }
    .gamers-view::after {
        content: ' ';
        left: 0;
    }
}

@media only screen and (max-width: 1200px)
/* smaller than 1200px */

{
    #game-refferance {
        padding: 50px 0px;
    }
    #refferance-img0 {
        padding-right: 20px;
    }
    #refferance-img2 {
        padding-left: 20px;
    }
    #refferance {
        padding: 0px;
    }
    #released-content {
        max-width: 90%;
    }
    img.gamer_chart {
        display: none;
    }
    .gamers_details {
        width: 40%;
    }
    .gamers-view::before {
        content: ' ';
        left: 300px;
    }
    .gamers-view::after {
        content: ' ';
        left: 300px;
    }
    .subscribe_head {
        margin-right: auto;
        margin-bottom: 30px;
    }
    .subscribe_head {
        margin-bottom: 30px;
    }
}